API_BASE_URL=__DEV_API_URL__
MIXPANEL_TOKEN=
USE_FIREBASE_EMULATORS=false
FIREBASE_EMULATOR_HOST=127.0.0.1
FIREBASE_FUNCTIONS_REGION=asia-south1
PAYMENTS_BASE_URL=
PAYMENTS_TENANT_ID=
AUTH_BASE_URL=
AUTH_TENANT_ID=
TRUECALLER_CLIENT_ID=
GROWTHBOOK_HOST_URL=https://cdn.growthbook.io/
GROWTHBOOK_API_KEY=
SLACK_API_TOKEN=
SLACK_CHANNEL_ID=
